@page "/"
@inject Blazored.LocalStorage.ISyncLocalStorageService LocalStorage
 
<h3>Poker</h3>

@if (!_showRoom)
{
    <EditForm @ref="@_form" Model="@this" OnValidSubmit="@(() => _showRoom = true)">
        <DataAnnotationsValidator />
        <label for="playername">
            Name:
        </label>
        <OwnInputText @bind-Value="@Playername" DisplayName="Name" id="playername" placeholder="Player's name" autofocus />
        <ValidationMessage For="@(() => Playername)" />

        <button disabled="@(!_form!.EditContext!.Validate())">
            Connect
        </button>
    </EditForm>
}
else
{
    <Room Playername="@Playername" ConnectionFailed="@(() => _showRoom = false)" />
}

@code {
    private const string LocalStorageKey = "playername";

    private bool _showRoom = false;
    private EditForm? _form;

    private string _playername = string.Empty;

    [Required, StringLength(20)]
    public string Playername
    {
        get => _playername;
        set
        {
            _playername = value;

            LocalStorage.SetItemAsString(LocalStorageKey, _playername);
        }
    }

    protected override void OnInitialized()
    {
        if (LocalStorage.ContainKey(LocalStorageKey))
        {
            Playername = LocalStorage.GetItemAsString(LocalStorageKey);
        }
        else
        {
            LocalStorage.SetItemAsString(LocalStorageKey, string.Empty);
        }
    }
}
