@page "/"
 
<h3>Poker</h3>

@if (!_connected)
{
    <EditForm Model="@this" OnValidSubmit="@(() => _connected = true)">
        <DataAnnotationsValidator/>
        <label for="username">
            Name:
        </label>
        <input @bind="Username" @bind:event="oninput" id="username" placeholder="Username"/>
        <ValidationMessage For="@(() => Username)" />

        <button disabled="@(string.IsNullOrWhiteSpace(Username))" >
            Connect
        </button>
    </EditForm>
}
else
{
    <Room Username="@Username" />
}

@code {
    private bool _connected = false;

    [Required]
    private string Username { get; set; } = string.Empty;
}
