@page "/"
 
<h3>Poker</h3>

@if (!_connected)
{
    <EditForm Model="@this" OnValidSubmit="@(() => _connected = true)">
        <DataAnnotationsValidator/>
        <label for="username">
            Name:
        </label>
        <input @bind="Playername" @bind:event="oninput" id="username" placeholder="Player's name"/>
        <ValidationMessage For="@(() => Playername)" />

        <button disabled="@(string.IsNullOrWhiteSpace(Playername))" >
            Connect
        </button>
    </EditForm>
}
else
{
    <Room Playername="@Playername" ConnectionFailed="() => _connected = false" />
}

@code {
    private bool _connected = false;

    [Required]
    private string Playername { get; set; } = string.Empty;
}
